.main-content {
   width: 100vw;
   display: flex;
   justify-content: center;
   align-items: center;
}
h1 {
   text-align: center;
}
.pictures {
   margin: 20px;
}
img {
   margin: 0px;
   border: 1px solid #000000;
}
.houseRoof {
   display: inline-block;
   position: relative;
}

.board > div {
   position: absolute;
   left: 0;
   top: 0;
   /* border: 2px solid black; */
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column-reverse;
   flex-wrap: wrap;
   align-content: center;
}

.board img {
   width: 25px;
}

.board__1 > div {
   width: 140px;
   height: 120px;
   transform: translate(440px, 185px);
}

.board__2 > div {
   width: 65px;
   height: 110px;
   transform: translate(717px, 184px);
}

.board__3 > div {
   width: 90px;
   height: 65px;
   transform: translate(655px, 433px);
}

.board__4 > div {
   width: 70px;
   height: 55px;
   transform: translate(465px, 420px);
}

.board__5 > div {
   width: 58px;
   height: 55px;
   transform: translate(550px, 418px);
}

.board__6 > div {
   width: 42px;
   height: 68px;
   transform: translate(753px, 430px);
}

.board__7 > div {
   width: 60px;
   height: 53px;
   transform: translate(585px, 172px);
}

.board__8 > div {
   width: 32px;
   height: 53px;
   transform: translate(653px, 172px);
}

.board__9 > div {
   width: 152px;
   height: 33px;
   transform: translate(410px, 141px);
}

.board__10 > div {
   width: 90px;
   height: 31px;
   transform: translate(670px, 132px);
}

.board__9 img,
.board__10 img {
   width: 15px;
}
